*{
padding: 0;
margin: 10;
box-sizing: border-box;
}
@font-face {
	font-family: Roboto;
	src:url(../fonts/Roboto-Regular.ttf);
}
main{
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}
body{
	background-color: #efefef;
	font-family: Roboto;
}
.photo{
    width: calc(50% - 40px);
	height: calc((35vw - 40px)/16*9);
	margin: 10px;
	background-color: aqua;
	background-position: left;
	background-size: cover;
	transition: all 0.5s ease;
}
h1{
width: 100%;
text-align: center;
font-size: 48px;
}
.o_sebe{
	background-image: url(../img/dima_eliseev.jpg);
	height: 550px;
}